#!/bin/sh
echo "Loading .xprofile"

usermodmap=$HOME/.Xmodmap
sysmodmap=/etc/X11/xinit/.Xmodmap

if [ -f $sysmodmap ]; then
	xmodmap "$sysmodmap"
fi
unset sysmodmap

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi
unset usermodmap

userresources=$HOME/.Xresources
sysresources=/etc/X11/xinit/.Xresources

# Read global system Xresources file
if [ -f "$sysresources" ]; then
	xrdb -merge "$sysresources"
fi
unset sysresources

# Read user Xresources file
if [ -f "$userresources" ]; then
	xrdb -merge "$userresources"
fi
unset userresources

#wmname LG3D
export _JAVA_AWT_WM_NONREPARENTING=1
#export SWT_GTK3=0

# Swap escape with caps key
#setxkbmap -option caps:swapescape

# Activate triple monitor support
xrandr --setprovideroutputsource modesetting NVIDIA-0

# vim: set ft=sh:
