#include "/home/kg/.config/colors/base16-atelierdune.dark.xresources"

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! URxvt*cursorUnderline: true
URxvt*cursorBlink: true
URxvt*scrollBar: false
URxvt*depth: 32 
URxvt*internalBorder: 5
URxvt*dynamicColors: on
URxvt.urgentOnBell: true

! Disable annoying ISO keycap mode pop up:
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.intensityStyles: false

! URxvt.letterSpace: -1

! Amount that I can scroll up
URxvt.saveLines: 12000

! Underline URLs
URxvt.underlineURLs: true

! Font
URxvt.allow_bold: true
*font: xft:Hack:pixelsize=14:antialias=true,hinting=true,-misc-stlarch-medium-r-normal--10-100-75-75-c-80-iso10646-1
*boldFont: xft:Hack:pixelsize=14:antialias=true,hinting=true
*italicFont: xft:Hack:pixelsize=14:antialias=true,hinting=true
*bolditalicFont: xft:Hack:pixelsize=14:antialias=true,hinting=true

Xft.autohint: 0
Xft.antialias: 1
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96 

! x11-ssh-askpass
ssh-askpass*font: -misc-fixed-medium-r-semicondensed--13-130-75-75-c-60-iso8859-1
ssh-askpass*background: base00
ssh-askpass*foreground: base05
ssh-askpass*topShadowColor: base05
ssh-askpass*shadowThickness: 1
ssh-askpass*borderWidth: 1
*Button.shadowThickness: 1
