#include "/home/kg/.config/colors/base16-atelierdune.dark.xresources"

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! URxvt*cursorUnderline: true
URxvt*cursorBlink: true
URxvt*scrollBar: false
URxvt*depth: 32 
URxvt*internalBorder: 5
URxvt*dynamicColors: on
URxvt.urgentOnBell: true

! Disable annoying ISO keycap mode pop up:
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.intensityStyles: false

! URxvt.letterSpace: -1

! Amount that I can scroll up
URxvt.saveLines: 12000

! Underline URLs
URxvt.underlineURLs: true

! Font
URxvt.allow_bold: true
*font: xft:Hack:pixelsize=12:antialias=true,hinting=true,-misc-stlarch-medium-r-normal--10-100-75-75-c-80-iso10646-1
*boldFont: xft:Hack:pixelsize=12:antialias=true,hinting=true
*italicFont: xft:Hack:pixelsize=12:antialias=true,hinting=true
*bolditalicFont: xft:Hack:pixelsize=12:antialias=true,hinting=true

Xft.autohint: 0
Xft.antialias: 1
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96 

! x11-ssh-askpass ------------------------------------------------------------

! x11-ssh-askpass*font:                   -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
! x11-ssh-askpass*background:             #000000
! x11-ssh-askpass*foreground:             #ffffff
! x11-ssh-askpass.Button*background:      #000000
! x11-ssh-askpass.Indicator*foreground:   #ff9900
! x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1
