[Unit]
Description=Locks the display on sleep
Before=sleep.target

[Service]
User=kg
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/kg/.scripts/lock.sh

[Install]
WantedBy=sleep.target
