#ACTION=="change", KERNEL=="card0", SUBSYSTEM=="drm", ENV{$XAUTHORITY}="/home/kg/.Xauthority", ENV{DISPLAY}=":0", RUN+="/usr/bin/systemctl --user start monitor-hotplug.service"
#ACTION=="change", SUBSYSTEM=="drm", HOTPLUG=="1", RUN+="/home/kg/.scripts/monitor.sh"
#ACTION=="change", KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/kg/.Xauthority", RUN+="/home/kg/.scripts/monitor.sh udev"
