---
- name: Install vm and ops packages
  community.general.pacman:
    name:
      - virtualbox-host-modules-arch
      - vagrant
      - python-vagrant
      - ansible
      - ansible-lint
      - python-passlib
      # ansible testing
      - molecule
      - molecule-plugins
      - python-docker
      # k8s
      - sops
      - kubectl
      - kubectx
      - kustomize
    state: present
